.wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.fieldFilter {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  width: 189px;
}
.fieldFilter label {
  color: #8a8a89;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.fieldFilter svg {
  position: absolute;
  top: 50%;
  right: 14px;
  rotate: 180deg;
  pointer-events: none;
}

.fieldFilter select {
  appearance: none;
  display: inline-flex;
  padding: 16px 18px;
  border-radius: 14px;
  border: transparent;

  color: var(--text-color-primary);
  background: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  cursor: pointer;
}

.fieldFilter option {
  color: rgba(18, 20, 23, 0.2);
}

.fieldFilter option:checked {
  color: var(--text-color-primary);
}
