.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 14px;
  padding-bottom: 14px;

  color: var(--text-color-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.4px;
}
