.card {
  display: flex;
  gap: 48px;
  padding: 24px;
  border-radius: 24px;
  background-color: #fff;
}

.avatarWrapper {
  width: 120px;
}

.avatar {
  background-color: var(--main-color);
  border-radius: 50%;
}

.content {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.label {
  color: var(--text-color-secondary);
  font-weight: 500;
  margin-right: auto;
}

.statisticsList {
  display: flex;
  gap: 32px;
  color: var(--text-color-primary);
  font-weight: 500;
  line-height: inherit;
}

.statisticsListItem {
  position: relative;
}

.statisticsListItem:not(:last-child)::after {
  position: absolute;
  top: 0;
  right: -16px;
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.2);
}

.btnFvorite {
  margin-left: 64px;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
}

.icon {
  fill: white;
  stroke-width: 2px;
  stroke: black;
  cursor: pointer;
}

.name {
  margin-bottom: 32px;
  color: var(--text-color-primary);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.descriptionList {
  margin-bottom: 16px;
  color: var(--text-color-primary);
  font-weight: 500;
}

.descriptionListItem:not(:last-child) {
  margin-bottom: 8px;
}

.descriptionList span {
  color: var(--text-color-secondary);
  font-weight: 500;
}

span.languages {
  text-decoration-line: underline;
  color: var(--text-color-primary);
}

.btnReadMore {
  margin-bottom: 32px;
  padding: 0;
  color: var(--text-color-primary);
  font-weight: 500;
  text-decoration-line: underline;
  background-color: transparent;
  border-color: transparent;
}

.descriptionText {
  margin-bottom: 32px;
  color: var(--text-color-primary);
}
