.card {
  position: relative;
  display: flex;
  gap: 48px;
  padding: 24px;
  border-radius: 24px;
  background-color: #fff;
}

.avatarWrapper {
  width: 120px;
}

.avatar {
  background-color: var(--main-color);
  border-radius: 50%;
}

.content {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.label {
  color: var(--text-color-secondary);
  font-weight: 500;
  margin-right: auto;
}

.statisticsList {
  display: flex;
  gap: 32px;
  color: var(--text-color-primary);
  font-weight: 500;
  line-height: inherit;
}

.statisticsListItem {
  position: relative;
}

.statisticsListItem:not(:last-child)::after {
  position: absolute;
  top: 0;
  right: -16px;
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.2);
}

.btnFvorite {
  margin-left: 64px;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
}

.icon {
  fill: white;
  stroke-width: 2px;
  stroke: black;
  cursor: pointer;
  transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon.isFavorite {
  fill: rgba(244, 197, 80, 1);
  stroke: rgba(244, 197, 80, 1);
}

.name {
  margin-bottom: 32px;
  color: var(--text-color-primary);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.descriptionList {
  margin-bottom: 16px;
  color: var(--text-color-primary);
  font-weight: 500;
}

.descriptionListItem:not(:last-child) {
  margin-bottom: 8px;
}

.descriptionList span {
  color: var(--text-color-secondary);
  font-weight: 500;
}

span.languages {
  text-decoration-line: underline;
  color: var(--text-color-primary);
}

.btnReadMore {
  margin-bottom: 32px;
  padding: 0;
  color: var(--text-color-primary);
  font-weight: 500;
  text-decoration-line: underline;
  background-color: transparent;
  border-color: transparent;
}

.descriptionText {
  margin-bottom: 32px;
  color: var(--text-color-primary);
}

@media (max-width: 768px) {
  .card {
    padding: 0;
    flex-direction: column;
  }
  .avatarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .label {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }
  .wrapper {
    font-size: 14px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .descriptionList,
  .descriptionText {
    font-size: 14px;
  }
  .statisticsList {
    flex-direction: column;
    gap: 5px;
  }
  .statisticsListItem:not(:last-child)::after {
    display: none;
  }

  .btnFvorite {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
