.navigation {
  display: flex;
  gap: 28px;
}

.link {
  padding-top: 14px;
  padding-bottom: 14px;
  color: var(--text-color-primary);
}

.active {
  color: var(--main-color);
  font-weight: 700;
}

@media (max-width: 1400px) {
  .link {
    font-size: 14px;
  }
}
