.wrapper {
  display: flex;
  gap: 16px;
}

.logInBtn {
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: transparent;
  border-color: transparent;
  color: var(--text-color-primary);
  font-weight: 700;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registrationBtn {
  padding: 14px 39px;
  border-radius: 12px;
  background-color: var(--text-color-primary);
  color: #fff;
  font-weight: 700;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logInBtn:hover,
.registrationBtn:hover,
.registrationBtn:focus,
.logInBtn:focus {
  color: #91d1d1;
}

@media (max-width: 1440px) {
  .wrapper {
    font-size: 14px;
  }
}
